!!!
%html
  %head
    %title YORIAI
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %style{:type => "text/css"}
      body { padding-top: 60px; }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "YORIAI", "#", class: :brand
          .navbar-content
            %ul.nav
              %li.active
                = link_to "MY", "#"
              %li
                = link_to "ALL TEAMS", "#"
    .container
      = yield
  = javascript_include_tag "application"
